################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/solution/.vs/FastDeepCloner/v15/Server/sqlite3
/source/FastDeepCloner/bin
/source/FastDeepCloner/obj
/solution/.vs/FastDeepCloner/v16
/source/BNGTest/bin/Release/netcoreapp2.0/BenchmarkDotNet.Artifacts
