################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/solution/.vs/FastDeepCloner/v15/Server/sqlite3
/source/FastDeepCloner/bin
/source/FastDeepCloner/obj
/solution/.vs/FastDeepCloner/v16
/source/BNGTest/bin/Release/netcoreapp2.0/BenchmarkDotNet.Artifacts
/source/BNGTest/bin
/source/BNGTest/obj
/source/FastDeepCloner.tests/bin
/source/FastDeepCloner.tests/obj

source/BNGTest/bin/Debug/net472/BNGTest.exe
source/BNGTest/bin/Debug/net472/FastDeepCloner.dll
source/BNGTest/bin/Debug/net472/FastDeepCloner.pdb
source/BNGTest/bin/Debug/netcoreapp2.0/BNGTest.deps.json
source/BNGTest/bin/Debug/netcoreapp2.0/BNGTest.dll
source/BNGTest/bin/Debug/netcoreapp2.0/FastDeepCloner.dll
source/BNGTest/bin/Debug/netcoreapp2.0/FastDeepCloner.pdb
source/BNGTest/bin/Debug/netstandard2.0/BNGTest.deps.json
source/BNGTest/bin/Debug/netstandard2.0/BNGTest.dll
source/BNGTest/bin/Debug/netstandard2.0/FastDeepCloner.dll
source/BNGTest/bin/Debug/netstandard2.0/FastDeepCloner.pdb
source/BNGTest/bin/Release/net472/BNGTest.exe
source/BNGTest/bin/Release/net472/FastDeepCloner.dll
source/BNGTest/bin/Release/net472/FastDeepCloner.pdb
source/BNGTest/bin/Release/netcoreapp2.0/BNGTest.deps.json
source/BNGTest/bin/Release/netcoreapp2.0/BNGTest.dll
source/BNGTest/bin/Release/netcoreapp2.0/FastDeepCloner.dll
source/BNGTest/bin/Release/netcoreapp2.0/FastDeepCloner.pdb
source/BNGTest/bin/Release/netstandard2.0/BNGTest.deps.json
source/BNGTest/bin/Release/netstandard2.0/BNGTest.dll
source/BNGTest/bin/Release/netstandard2.0/FastDeepCloner.dll
source/BNGTest/bin/Release/netstandard2.0/FastDeepCloner.pdb
source/BNGTest/obj/BNGTest.csproj.nuget.cache
source/BNGTest/obj/BNGTest.csproj.nuget.dgspec.json
source/BNGTest/obj/Debug/net472/BNGTest.csprojAssemblyReference.cache
source/BNGTest/obj/Debug/net472/BNGTest.exe
source/BNGTest/obj/Debug/netcoreapp2.0/BNGTest.csprojAssemblyReference.cache
source/BNGTest/obj/Debug/netcoreapp2.0/BNGTest.dll
source/BNGTest/obj/Debug/netstandard2.0/BNGTest.csprojAssemblyReference.cache
source/BNGTest/obj/Debug/netstandard2.0/BNGTest.dll
source/BNGTest/obj/project.assets.json
source/BNGTest/obj/Release/net472/BNGTest.csprojAssemblyReference.cache
source/BNGTest/obj/Release/net472/BNGTest.exe
source/BNGTest/obj/Release/netcoreapp2.0/BNGTest.csprojAssemblyReference.cache
source/BNGTest/obj/Release/netcoreapp2.0/BNGTest.dll
source/BNGTest/obj/Release/netstandard2.0/BNGTest.csprojAssemblyReference.cache
source/BNGTest/obj/Release/netstandard2.0/BNGTest.dll
source/FastDeepCloner.tests/bin/Debug/netcoreapp2.0/FastDeepCloner.dll
source/FastDeepCloner.tests/bin/Debug/netcoreapp2.0/FastDeepCloner.pdb
source/FastDeepCloner.tests/bin/Debug/netcoreapp2.0/FastDeepCloner.tests.deps.json
source/FastDeepCloner.tests/bin/Debug/netcoreapp2.0/FastDeepCloner.tests.dll
source/FastDeepCloner.tests/bin/Debug/netcoreapp2.0/FastDeepCloner.tests.pdb
source/FastDeepCloner.tests/bin/Release/netcoreapp2.0/FastDeepCloner.dll
source/FastDeepCloner.tests/bin/Release/netcoreapp2.0/FastDeepCloner.pdb
source/FastDeepCloner.tests/bin/Release/netcoreapp2.0/FastDeepCloner.tests.deps.json
source/FastDeepCloner.tests/bin/Release/netcoreapp2.0/FastDeepCloner.tests.dll
source/FastDeepCloner.tests/bin/Release/netcoreapp2.0/FastDeepCloner.tests.pdb
source/FastDeepCloner.tests/obj/Debug/netcoreapp2.0/FastDeepCloner.tests.csproj.CoreCompileInputs.cache
source/FastDeepCloner.tests/obj/Debug/netcoreapp2.0/FastDeepCloner.tests.csprojAssemblyReference.cache
source/FastDeepCloner.tests/obj/Debug/netcoreapp2.0/FastDeepCloner.tests.dll
source/FastDeepCloner.tests/obj/Debug/netcoreapp2.0/FastDeepCloner.tests.pdb
source/FastDeepCloner.tests/obj/FastDeepCloner.tests.csproj.nuget.cache
source/FastDeepCloner.tests/obj/FastDeepCloner.tests.csproj.nuget.dgspec.json
source/FastDeepCloner.tests/obj/project.assets.json
source/FastDeepCloner.tests/obj/Release/netcoreapp2.0/FastDeepCloner.tests.csproj.CoreCompileInputs.cache
source/FastDeepCloner.tests/obj/Release/netcoreapp2.0/FastDeepCloner.tests.csprojAssemblyReference.cache
source/FastDeepCloner.tests/obj/Release/netcoreapp2.0/FastDeepCloner.tests.dll
source/FastDeepCloner.tests/obj/Release/netcoreapp2.0/FastDeepCloner.tests.pdb
source/BNGTest/obj/Debug/net472/BNGTest.AssemblyInfo.cs
source/BNGTest/obj/Debug/net472/BNGTest.AssemblyInfoInputs.cache
source/BNGTest/obj/Debug/net472/BNGTest.csproj.CoreCompileInputs.cache
source/BNGTest/obj/Debug/net472/BNGTest.csprojAssemblyReference.cache
source/BNGTest/obj/Debug/net472/BNGTest.exe.withSupportedRuntime.config
source/BNGTest/obj/Debug/netcoreapp2.0/BNGTest.AssemblyInfo.cs
source/BNGTest/obj/Debug/netcoreapp2.0/BNGTest.AssemblyInfoInputs.cache
source/BNGTest/obj/Debug/netcoreapp2.0/BNGTest.csproj.CoreCompileInputs.cache
source/BNGTest/obj/Debug/netcoreapp2.0/BNGTest.csprojAssemblyReference.cache
source/BNGTest/obj/Debug/netstandard2.0/BNGTest.AssemblyInfo.cs
source/BNGTest/obj/Debug/netstandard2.0/BNGTest.AssemblyInfoInputs.cache
source/BNGTest/obj/Debug/netstandard2.0/BNGTest.csproj.CoreCompileInputs.cache
source/BNGTest/obj/Debug/netstandard2.0/BNGTest.csprojAssemblyReference.cache
