################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/solution/.vs/FastDeepCloner/v15/Server/sqlite3
